:root {
  --color-primary: #2A3FFB;
}

body {
  font-family: system-ui, sans-serif;
}
body > footer {
  font-size: 14px;
  width: calc(210mm - 20mm);
  padding: 6mm 10mm;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media print {
  body > footer {
    display: none;
  }
}

/* mobile */

@media screen and (max-width: 800px) {
  $gap: 20px;

  .cv-container, body > footer {
    margin: 0;
    width: auto;
  }

  .cv-container {
    border: 0;
    padding: $gap;
  }
  body > footer {
    margin: $gap $gap 0 $gap;
    padding: $gap;

    @media screen and (max-width: 500px) {
      padding: 10px;
      flex-wrap: wrap;
      gap: 5px;
    }
  }
}
